<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Titles</key>
			<array>
				<string>Black</string>
				<string>White</string>
			</array>
			<key>Values</key>
			<array>
				<string>black</string>
				<string>white</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Theme</string>
			<key>Key</key>
			<string>theme</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>To use a custom server with fastSwift, you need an SSH server with Swift installed in it.</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Server</string>
			<key>Title</key>
			<string>Custom server</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>File</key>
			<string>Acknowledgements</string>
			<key>Title</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
</dict>
</plist>
