<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Dark</string>
				<string>Black</string>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Brown</string>
				<string>Yellow</string>
				<string>Gray</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>dark</string>
				<string>black</string>
				<string>white</string>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
				<string>cyan</string>
				<string>brown</string>
				<string>yellow</string>
				<string>gray</string>
				<string>orange</string>
			</array>
			<key>Title</key>
			<string>Primary Color</string>
			<key>Key</key>
			<string>ct_color</string>
			<key>DefaultValue</key>
			<string>dark</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Default Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Brown</string>
				<string>Yellow</string>
				<string>Gray</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>default</string>
				<string>black</string>
				<string>white</string>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
				<string>cyan</string>
				<string>brown</string>
				<string>yellow</string>
				<string>gray</string>
				<string>orange</string>
			</array>
			<key>Title</key>
			<string>Tint Color</string>
			<key>Key</key>
			<string>ct_tint</string>
			<key>DefaultValue</key>
			<string>orange</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Black</string>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Brown</string>
				<string>Yellow</string>
				<string>Gray</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>black</string>
				<string>white</string>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
				<string>cyan</string>
				<string>brown</string>
				<string>yellow</string>
				<string>gray</string>
				<string>orange</string>
			</array>
			<key>Title</key>
			<string>Text Color</string>
			<key>Key</key>
			<string>ct_text</string>
			<key>DefaultValue</key>
			<string>white</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Black</string>
				<string>Black Opaque</string>
				<string>Black Translucent</string>
				<string>Default</string>
			</array>
			<key>Title</key>
			<string>Bar Style</string>
			<key>Values</key>
			<array>
				<string>black</string>
				<string>black Opaque</string>
				<string>black Translucent</string>
				<string>default</string>
			</array>
			<key>Key</key>
			<string>ct_bar</string>
			<key>DefaultValue</key>
			<string>black</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
			</array>
			<key>Title</key>
			<string>Keyboard Appearance</string>
			<key>Values</key>
			<array>
				<string>dark</string>
				<string>light</string>
			</array>
			<key>Key</key>
			<string>ct_keyboard</string>
			<key>DefaultValue</key>
			<string>dark</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Light Content</string>
				<string>Default</string>
			</array>
			<key>Title</key>
			<string>Status Bar Style</string>
			<key>Values</key>
			<array>
				<string>light</string>
				<string>default</string>
			</array>
			<key>Key</key>
			<string>ct_sbar</string>
			<key>DefaultValue</key>
			<string>light</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Dark</string>
				<string>White</string>
				<string>Light</string>
			</array>
			<key>Title</key>
			<string>Browser Style</string>
			<key>Values</key>
			<array>
				<string>dark</string>
				<string>white</string>
				<string>light</string>
			</array>
			<key>Key</key>
			<string>ct_browser</string>
			<key>DefaultValue</key>
			<string>dark</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Dark</string>
				<string>Black</string>
				<string>White</string>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Cyan</string>
				<string>Brown</string>
				<string>Yellow</string>
				<string>Gray</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>dark</string>
				<string>black</string>
				<string>white</string>
				<string>red</string>
				<string>green</string>
				<string>blue</string>
				<string>cyan</string>
				<string>brown</string>
				<string>yellow</string>
				<string>gray</string>
				<string>orange</string>
			</array>
			<key>Title</key>
			<string>Code Editor Background</string>
			<key>Key</key>
			<string>ct_eback</string>
			<key>DefaultValue</key>
			<string>dark</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>agate</string>
				<string>a*d*o*dstudio</string>
				<string>arduino-light</string>
				<string>arta</string>
				<string>ascetic</string>
				<string>atelier-cave-dark</string>
				<string>atelier-cave-light</string>
				<string>atelier-dune-dark</string>
				<string>atelier-dune-light</string>
				<string>atelier-estuary-dark</string>
				<string>atelier-estuary-light</string>
				<string>atelier-forest-dark</string>
				<string>atelier-forest-light</string>
				<string>atelier-heath-dark</string>
				<string>atelier-heath-light</string>
				<string>atelier-lakeside-dark</string>
				<string>atelier-lakeside-light</string>
				<string>atelier-plateau-dark</string>
				<string>atelier-plateau-light</string>
				<string>atelier-savanna-dark</string>
				<string>atelier-savanna-light</string>
				<string>atelier-seaside-dark</string>
				<string>atelier-seaside-light</string>
				<string>atelier-sulphurpool-dark</string>
				<string>atelier-sulphurpool-light</string>
				<string>atom-one-dark</string>
				<string>atom-one-light</string>
				<string>brown-paper</string>
				<string>codepen-embed</string>
				<string>color-brewer</string>
				<string>darcula</string>
				<string>dark</string>
				<string>darkula</string>
				<string>default</string>
				<string>docco</string>
				<string>dracula</string>
				<string>far</string>
				<string>foundation</string>
				<string>github-gist</string>
				<string>github</string>
				<string>googlecode</string>
				<string>grayscale</string>
				<string>gruvbox-dark</string>
				<string>gruvbox-light</string>
				<string>hopscotch</string>
				<string>hybrid</string>
				<string>idea</string>
				<string>ir-black</string>
				<string>kimbie.dark</string>
				<string>kimbie.light</string>
				<string>magula</string>
				<string>mono-blue</string>
				<string>monokai-sublime</string>
				<string>monokai</string>
				<string>obsidian</string>
				<string>ocean</string>
				<string>paraiso-dark</string>
				<string>paraiso-light</string>
				<string>pojoaque</string>
				<string>purebasic</string>
				<string>qtcreator_dark</string>
				<string>qtcreator_light</string>
				<string>railscasts</string>
				<string>rainbow</string>
				<string>school-book</string>
				<string>solarized-dark</string>
				<string>solarized-light</string>
				<string>sunburst</string>
				<string>tomorrow-night-blue</string>
				<string>tomorrow-night-bright</string>
				<string>tomorrow-night-eighties</string>
				<string>tomorrow-night</string>
				<string>tomorrow</string>
				<string>vs</string>
				<string>xcode</string>
				<string>xt256</string>
				<string>zenburn</string>
			</array>
			<key>Values</key>
			<array>
				<string>agate</string>
				<string>androidstudio</string>
				<string>arduino-light</string>
				<string>arta</string>
				<string>ascetic</string>
				<string>atelier-cave-dark</string>
				<string>atelier-cave-light</string>
				<string>atelier-dune-dark</string>
				<string>atelier-dune-light</string>
				<string>atelier-estuary-dark</string>
				<string>atelier-estuary-light</string>
				<string>atelier-forest-dark</string>
				<string>atelier-forest-light</string>
				<string>atelier-heath-dark</string>
				<string>atelier-heath-light</string>
				<string>atelier-lakeside-dark</string>
				<string>atelier-lakeside-light</string>
				<string>atelier-plateau-dark</string>
				<string>atelier-plateau-light</string>
				<string>atelier-savanna-dark</string>
				<string>atelier-savanna-light</string>
				<string>atelier-seaside-dark</string>
				<string>atelier-seaside-light</string>
				<string>atelier-sulphurpool-dark</string>
				<string>atelier-sulphurpool-light</string>
				<string>atom-one-dark</string>
				<string>atom-one-light</string>
				<string>brown-paper</string>
				<string>codepen-embed</string>
				<string>color-brewer</string>
				<string>darcula</string>
				<string>dark</string>
				<string>darkula</string>
				<string>default</string>
				<string>docco</string>
				<string>dracula</string>
				<string>far</string>
				<string>foundation</string>
				<string>github-gist</string>
				<string>github</string>
				<string>googlecode</string>
				<string>grayscale</string>
				<string>gruvbox-dark</string>
				<string>gruvbox-light</string>
				<string>hopscotch</string>
				<string>hybrid</string>
				<string>idea</string>
				<string>ir-black</string>
				<string>kimbie.dark</string>
				<string>kimbie.light</string>
				<string>magula</string>
				<string>mono-blue</string>
				<string>monokai-sublime</string>
				<string>monokai</string>
				<string>obsidian</string>
				<string>ocean</string>
				<string>paraiso-dark</string>
				<string>paraiso-light</string>
				<string>pojoaque</string>
				<string>purebasic</string>
				<string>qtcreator_dark</string>
				<string>qtcreator_light</string>
				<string>railscasts</string>
				<string>rainbow</string>
				<string>school-book</string>
				<string>solarized-dark</string>
				<string>solarized-light</string>
				<string>sunburst</string>
				<string>tomorrow-night-blue</string>
				<string>tomorrow-night-bright</string>
				<string>tomorrow-night-eighties</string>
				<string>tomorrow-night</string>
				<string>tomorrow</string>
				<string>vs</string>
				<string>xcode</string>
				<string>xt256</string>
				<string>zenburn</string>
			</array>
			<key>Title</key>
			<string>Code Editor Theme</string>
			<key>Key</key>
			<string>ct_etheme</string>
			<key>DefaultValue</key>
			<string>androidstudio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Dark</string>
				<string>White</string>
			</array>
			<key>Values</key>
			<array>
				<string>dark</string>
				<string>White</string>
			</array>
			<key>Title</key>
			<string>Alternate Icon</string>
			<key>Key</key>
			<string>ct_icon</string>
			<key>DefaultValue</key>
			<string>dark</string>
		</dict>
	</array>
</dict>
</plist>
